body{
    background: lightgray;
}

.content-container{
    margin: auto;
    max-width: 1200px;
    min-width: 650px;
}

.content{
    font-size: 20px;
    text-align: left;
}

.main{
    padding: 15px;
    background: darkgray;
    min-height: 500px;
}