/*
    https://webdesign.tutsplus.com/ru/tutorials/css-experiments-with-a-search-form-input-and-button--cms-22069
*/

.header{
    background: #343d46;
    margin: auto;
    min-width: 650px;
}

.box{
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 600px;
    height: 50px;
}

.container-1{
    width: 600px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search{
    width: 600px;
    height: 50px;
    padding-right: 18px;
    background: rgb(212, 212, 212);
    border: none;
    font-size: 12pt;
    float: left;
    color: #262626;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}

.container-1 .icon{
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: 17px;
    margin-top: 14px;
    z-index: 1;
    color: #4f5b66;
}

.container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
    color: #65737e;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
}
